@import 'var';
#header{
    // 头部样式
    width:100%;
    .good_id{display:none;}
    .top{height:31px;background-color:#eee;
        .top_r{float:right;line-height:30px;
            .ninhao{display:none;}
            .wdgy{padding-right:8px;}
            .guoyuan{&:hover{background:#fff;};position:relative;
                .phone{position:absolute;width:290px;height:290px;padding:10px 15px;right:0;top:30px;background-color:#fff;box-shadow:0 10px 15px rgba(175,175,175,0.75);z-index:10;color:#555; box-sizing: border-box;display:none;
                    li{height:50%;width:100%;padding:10px 0;
                        }
                    img{float:left;}
                    .erwei{width:100px;margin-right:10px;}
                    .phone_1{border-bottom:1px solid #ccc;
                        .app{width:145px;margin:5px 0;}
                        p{text-align:center;color:#555;}
                        span{color:#58bc58;}
                    }
                    .phone_2{
                        p{line-height:20px;margin-left:10px;float:left;color:#555;
                            &:nth-child(2){margin-top:30px;}
                            span{color:#58bc58;}
                        }
                    }
                }
            }
            .top_gonggao{position:relative; 
                &:hover{background:#fff;}     
                }
            .gonggao{width:210px;height:auto;max-height: 160px;position:absolute;right:0;top:30px;background-color:#fff;padding:10px 15px 5px;font-size:12px;box-shadow:0 10px 15px rgba(175,175,175,0.75);z-index:10;color:#555;display:none;
                li{float:none;height:36px;border-bottom:1px dashed #ddd;line-height:36px;padding:0;
                    a{color:#555;
                        &:hover{color:#58bc58;}
                    }

                }
                p{line-height:30px;text-align:center;height:30px;
                    a{color:#58bc58}
                }
                
            }
            .color:hover{color:#FF9326;text-decoration:underline;}
            li{float:left;padding:0 8px;color:#999;font-size:12px;

                a{color:#999;}
                i.icon-shouji,i.icon-kefu{font-size:14px;color:#58bc58;margin-right:3px};
                .guoyuan{}
            }
            li:first-child{padding-right:10px;}
            // li:nth-child(3){padding-right:0;}
            
        }
    }
    .nav{height:80px;padding:20px 0;border-bottom:1px solid #ccc;
        .nav_l{width:300px;height:78px;background:url("img/logo.png");
            h1{line-height:80px;text-indent:-100000px;}
        }
        .nav_c{overflow:hidden;padding-left:40px;
            li{float:left;text-align:center;
                a{display:block;padding:0 25px;border-right:1px solid #eee;margin-top:20px;font-size:14px;color: #999;
                    span{font-size:14px;}      
                }
                .nav_last{border:none;}
                a:hover{background-color:#ccc;}
            }


        }
        .nav_r{width:237px;height:70px;position:relative;
            .car_show{position:absolute;top:95px;right:-11px;width:310px;height:70px;max-height:410px;padding:15px 0 15px 15px;background:#fff;box-shadow:0 0 45px rgba(175,175,175,0.75);z-index:100;box-sizing:border-box;cursor: pointer;display:none;
                p{line-height:40px;text-align:center;color:#999;font-size:14px;}
            }
            .car_show2{position:absolute;top:95px;right:0px;width:310px;max-height:410px;padding:15px 0 15px 15px;background:#fff;box-shadow:0 0 45px rgba(175,175,175,0.75);z-index:100;box-sizing:border-box;cursor: pointer;display:none;
                .car_pay{margin-right:35px;padding-top:5px;overflow:hidden;
                    .pay_l{float:left;font-size:14px;
                        span{color:#64a131;font-size:14px;font-weight:900;}
                    }
                    .pay_r{float:right;font-size:14px;
                        span{color:#64a131;font-size:14px;font-weight:900;}
                    }
                    .pay_b{width:260px;height:46px;background:#64a131;float:left;box-sizing:border-box;border-radius:6px;margin-top:10px;
                        p{text-align:center;line-height:46px;font-size:18px;color:#fff;}
                    }
                }
                .show_list{max-height:290px;overflow:auto;padding-right:15px;margin-bottom:0;box-sizing: border-box;
                    li{height:86px;padding-bottom:15px;margin-bottom:15px;border-bottom: 1px dashed #eee;position:relative;box-sizing:border-box;
                        .car_del{position:absolute;right:13px;top:50px;font-size:14px;}
                        a{display:block;width:100%;height:100%;color:#999;position:relative;
                            .good_img{display:block;width:70px;height:70px;box-shadow: 0 0 3px rgba(0,0,0,0.3);float:left;}
                            .good_in{width:178px;height:70px;padding-left:85px;
                                p{font-size:14px;color:inherit;margin-bottom:6px;overflow:hidden;white-space:nowrap;text-overflow: ellipsis;}
                            }

                        }
                        .qty{position:absolute;bottom:15px;left:85px;width:70px;height:22px;text-align:center;
                            .jian,.jia{background:#f1f1f1;float:left;width:22px;height:22px;border:1px solid #ddd;cursor: pointer;line-height:20px;}
                            .qty_num{float:left;width:22px;height:22px;border:1px solid #ddd;background:#fff;border-left:none;border-right:none;line-height:20px;text-align:center;}
                            
                        }
                    }
                }
            }
            .car_num{position:absolute;top:20px;right:25px;z-index:100;color:white;font-weight:600;}
            .nav_car{background-image:url("img/car.png");display:block;width:43px;height:48px;position:absolute;top:15px;right:10px;}
            .nav_box{width:180px;height:50px;margin-top:20px;
                .iconfont.icon-sousuo{font-size:20px;font-weight:900;}
                .top_sousuo{height:20px;border:none;padding:3px 5px;outline:none;}
                .hot_sousuo{border-top:1px solid #999;color:#999;
                    a{padding-right:5px;color:#999;display:inline-block;}
                    :hover{text-decoration:underline;}
                }
            }
        }
    }
}
// 头部样式
// 尾部样式
#footer{
    .footer_1{height:65px;padding:20px 0;border-top:1px solid #ddd;border-bottom:1px solid #ddd;overflow:hidden;
        li{width:25%;height:60px;border-right:1px solid #ddd;text-align:center;padding:0 2px;background:red;float:left;box-sizing: border-box;}
        li:nth-child(1){background:url("img/icon.png") no-repeat 40px 0;}
        li:nth-child(2){background:url("img/icon.png") no-repeat 40px -60px;} 
        li:nth-child(3){background:url("img/icon.png") no-repeat 40px -120px;}
        li:nth-child(4){background:url("img/icon.png") no-repeat 40px -180px;}

    }
    .footer_2{height:160px;padding:20px 0;margin-bottom:15px;border-bottom:1px solid #ddd;overflow:hidden;

        >div{width:315px;text-align:center;float:left;margin:0 85px;
            div{height:82px;width:315px;background:url("img/logo")  no-repeat 10px 0 ;}
            p{font-size:18px;}
            span{color:#999;font-size:18px;}
        }
        .ul1{width:350px;height:160px;float:left;overflow:hidden;
            li{float:left;padding-right:45px;text-align:center;
                img{margin-bottom:10px;}
                span{font-size:14px;color:#999;}
            }
        }
        .ul2{width:402px;height:137px;float:left;overflow:hidden;
            li{float:left;margin-left:30px;
                h4{margin-bottom: 20px;font-size: 16px;margin-top:10px;}
                a{display: block;color: #999;line-height: 30px;font-size:14px;}
            }
        }

    }
    .footer_3{height:97px;margin-bottom:30px;text-align:center;
        .p1{margin-bottom: 5px;color:#999;font-size:14px;}
        .p2{margin-bottom: 5px;color:#64a131;font-size:14px;}
        .p3{height:47px;
            img{height:100%;width:auto;margin:5px 10px;}
        }
    }
}
// 尾部样式

// 轮播图样式：-------------------------------------------------------------------------
.picShow{width:1263px;height:400px;position:relative;overflow:hidden;

    .showTime{position:absolute;left:0;top:0;width:6315px;
        img{display:block;float:left;}
    }
    .page{position:absolute;width:100%;height:20px;text-align:center;bottom:20px;z-index:10;overflow:hidden;

        li{display:inline-block;width:18px;height:18px;border:1px solid #64a131;border-radius:50%;margin:0 8px;background:rgba(100,161,49,0.1)};
            .ative{background:#58bc58;}
    }
}

.show{margin-top:10px;margin-bottom:50px;
    li{float:left;margin-right:26px;
        &:last-child{margin:0;}
    }
}
// 轮播图样式

// 商品列表样式
#main{width:1290px;
    .list{margin-bottom:50px;}
    .goods_title{height:41px;padding-top:15px;padding-bottom:10px;border-top:1px solid #ccc;color:#333;line-height:42px;
        .more{display:block;width:60px;height:42px;float:right;font-size:14px;
            &:hover{text-decoration: underline}
        }
    }
    .goods_list{
        ul{
            li{float:left;width:248px;height:305px;margin:0 5px 5px;position:relative;
                div{width:248px;height:248px;margin-bottom:5px;overflow:hidden;position:relative;
                    img{display:block;position:absolute;left:0;top:0;width:100%;height:100%;}    
                }
                .s_name{padding-left:2px;color:#555;font-size:14px;line-height:24px;overflow:hidden;white-space: nowrap;max-width: 210px;}
                .s_price{margin-left:5px;color:#999;font-size:14px;line-height:24px;}
                .a_car{display:block;width:38px;height:38px;background:url("img/car_0");position:absolute;right:0;bottom:10px;cursor:pointer;}
                .good_id{display:none;}

            }

        }
    }
}

