#header { width: 100%; }

#header .good_id { display: none; }

#header .top { height: 31px; background-color: #eee; }

#header .top .top_r { float: right; line-height: 30px; }

#header .top .top_r .ninhao { display: none; }

#header .top .top_r .wdgy { padding-right: 8px; }

#header .top .top_r .guoyuan { position: relative; }

#header .top .top_r .guoyuan:hover { background: #fff; }

#header .top .top_r .guoyuan .phone { position: absolute; width: 290px; height: 290px; padding: 10px 15px; right: 0; top: 30px; background-color: #fff; box-shadow: 0 10px 15px rgba(175, 175, 175, 0.75); z-index: 10; color: #555; box-sizing: border-box; display: none; }

#header .top .top_r .guoyuan .phone li { height: 50%; width: 100%; padding: 10px 0; }

#header .top .top_r .guoyuan .phone img { float: left; }

#header .top .top_r .guoyuan .phone .erwei { width: 100px; margin-right: 10px; }

#header .top .top_r .guoyuan .phone .phone_1 { border-bottom: 1px solid #ccc; }

#header .top .top_r .guoyuan .phone .phone_1 .app { width: 145px; margin: 5px 0; }

#header .top .top_r .guoyuan .phone .phone_1 p { text-align: center; color: #555; }

#header .top .top_r .guoyuan .phone .phone_1 span { color: #58bc58; }

#header .top .top_r .guoyuan .phone .phone_2 p { line-height: 20px; margin-left: 10px; float: left; color: #555; }

#header .top .top_r .guoyuan .phone .phone_2 p:nth-child(2) { margin-top: 30px; }

#header .top .top_r .guoyuan .phone .phone_2 p span { color: #58bc58; }

#header .top .top_r .top_gonggao { position: relative; }

#header .top .top_r .top_gonggao:hover { background: #fff; }

#header .top .top_r .gonggao { width: 210px; height: auto; max-height: 160px; position: absolute; right: 0; top: 30px; background-color: #fff; padding: 10px 15px 5px; font-size: 12px; box-shadow: 0 10px 15px rgba(175, 175, 175, 0.75); z-index: 10; color: #555; display: none; }

#header .top .top_r .gonggao li { float: none; height: 36px; border-bottom: 1px dashed #ddd; line-height: 36px; padding: 0; }

#header .top .top_r .gonggao li a { color: #555; }

#header .top .top_r .gonggao li a:hover { color: #58bc58; }

#header .top .top_r .gonggao p { line-height: 30px; text-align: center; height: 30px; }

#header .top .top_r .gonggao p a { color: #58bc58; }

#header .top .top_r .color:hover { color: #FF9326; text-decoration: underline; }

#header .top .top_r li { float: left; padding: 0 8px; color: #999; font-size: 12px; }

#header .top .top_r li a { color: #999; }

#header .top .top_r li i.icon-shouji, #header .top .top_r li i.icon-kefu { font-size: 14px; color: #58bc58; margin-right: 3px; }

#header .top .top_r li:first-child { padding-right: 10px; }

#header .nav { height: 80px; padding: 20px 0; border-bottom: 1px solid #ccc; }

#header .nav .nav_l { width: 300px; height: 78px; background: url("img/logo.png"); }

#header .nav .nav_l h1 { line-height: 80px; text-indent: -100000px; }

#header .nav .nav_c { overflow: hidden; padding-left: 40px; }

#header .nav .nav_c li { float: left; text-align: center; }

#header .nav .nav_c li a { display: block; padding: 0 25px; border-right: 1px solid #eee; margin-top: 20px; font-size: 14px; color: #999; }

#header .nav .nav_c li a span { font-size: 14px; }

#header .nav .nav_c li .nav_last { border: none; }

#header .nav .nav_c li a:hover { background-color: #ccc; }

#header .nav .nav_r { width: 237px; height: 70px; position: relative; }

#header .nav .nav_r .car_show { position: absolute; top: 95px; right: -11px; width: 310px; height: 70px; max-height: 410px; padding: 15px 0 15px 15px; background: #fff; box-shadow: 0 0 45px rgba(175, 175, 175, 0.75); z-index: 100; box-sizing: border-box; cursor: pointer; display: none; }

#header .nav .nav_r .car_show p { line-height: 40px; text-align: center; color: #999; font-size: 14px; }

#header .nav .nav_r .car_show2 { position: absolute; top: 95px; right: 0px; width: 310px; max-height: 410px; padding: 15px 0 15px 15px; background: #fff; box-shadow: 0 0 45px rgba(175, 175, 175, 0.75); z-index: 100; box-sizing: border-box; cursor: pointer; display: none; }

#header .nav .nav_r .car_show2 .car_pay { margin-right: 35px; padding-top: 5px; overflow: hidden; }

#header .nav .nav_r .car_show2 .car_pay .pay_l { float: left; font-size: 14px; }

#header .nav .nav_r .car_show2 .car_pay .pay_l span { color: #64a131; font-size: 14px; font-weight: 900; }

#header .nav .nav_r .car_show2 .car_pay .pay_r { float: right; font-size: 14px; }

#header .nav .nav_r .car_show2 .car_pay .pay_r span { color: #64a131; font-size: 14px; font-weight: 900; }

#header .nav .nav_r .car_show2 .car_pay .pay_b { width: 260px; height: 46px; background: #64a131; float: left; box-sizing: border-box; border-radius: 6px; margin-top: 10px; }

#header .nav .nav_r .car_show2 .car_pay .pay_b p { text-align: center; line-height: 46px; font-size: 18px; color: #fff; }

#header .nav .nav_r .car_show2 .show_list { max-height: 290px; overflow: auto; padding-right: 15px; margin-bottom: 0; box-sizing: border-box; }

#header .nav .nav_r .car_show2 .show_list li { height: 86px; padding-bottom: 15px; margin-bottom: 15px; border-bottom: 1px dashed #eee; position: relative; box-sizing: border-box; }

#header .nav .nav_r .car_show2 .show_list li .car_del { position: absolute; right: 13px; top: 50px; font-size: 14px; }

#header .nav .nav_r .car_show2 .show_list li a { display: block; width: 100%; height: 100%; color: #999; position: relative; }

#header .nav .nav_r .car_show2 .show_list li a .good_img { display: block; width: 70px; height: 70px; box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); float: left; }

#header .nav .nav_r .car_show2 .show_list li a .good_in { width: 178px; height: 70px; padding-left: 85px; }

#header .nav .nav_r .car_show2 .show_list li a .good_in p { font-size: 14px; color: inherit; margin-bottom: 6px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

#header .nav .nav_r .car_show2 .show_list li .qty { position: absolute; bottom: 15px; left: 85px; width: 70px; height: 22px; text-align: center; }

#header .nav .nav_r .car_show2 .show_list li .qty .jian, #header .nav .nav_r .car_show2 .show_list li .qty .jia { background: #f1f1f1; float: left; width: 22px; height: 22px; border: 1px solid #ddd; cursor: pointer; line-height: 20px; }

#header .nav .nav_r .car_show2 .show_list li .qty .qty_num { float: left; width: 22px; height: 22px; border: 1px solid #ddd; background: #fff; border-left: none; border-right: none; line-height: 20px; text-align: center; }

#header .nav .nav_r .car_num { position: absolute; top: 20px; right: 25px; z-index: 100; color: white; font-weight: 600; }

#header .nav .nav_r .nav_car { background-image: url("img/car.png"); display: block; width: 43px; height: 48px; position: absolute; top: 15px; right: 10px; }

#header .nav .nav_r .nav_box { width: 180px; height: 50px; margin-top: 20px; }

#header .nav .nav_r .nav_box .iconfont.icon-sousuo { font-size: 20px; font-weight: 900; }

#header .nav .nav_r .nav_box .top_sousuo { height: 20px; border: none; padding: 3px 5px; outline: none; }

#header .nav .nav_r .nav_box .hot_sousuo { border-top: 1px solid #999; color: #999; }

#header .nav .nav_r .nav_box .hot_sousuo a { padding-right: 5px; color: #999; display: inline-block; }

#header .nav .nav_r .nav_box .hot_sousuo :hover { text-decoration: underline; }

#footer .footer_1 { height: 65px; padding: 20px 0; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; overflow: hidden; }

#footer .footer_1 li { width: 25%; height: 60px; border-right: 1px solid #ddd; text-align: center; padding: 0 2px; background: red; float: left; box-sizing: border-box; }

#footer .footer_1 li:nth-child(1) { background: url("img/icon.png") no-repeat 40px 0; }

#footer .footer_1 li:nth-child(2) { background: url("img/icon.png") no-repeat 40px -60px; }

#footer .footer_1 li:nth-child(3) { background: url("img/icon.png") no-repeat 40px -120px; }

#footer .footer_1 li:nth-child(4) { background: url("img/icon.png") no-repeat 40px -180px; }

#footer .footer_2 { height: 160px; padding: 20px 0; margin-bottom: 15px; border-bottom: 1px solid #ddd; overflow: hidden; }

#footer .footer_2 > div { width: 315px; text-align: center; float: left; margin: 0 85px; }

#footer .footer_2 > div div { height: 82px; width: 315px; background: url("img/logo") no-repeat 10px 0; }

#footer .footer_2 > div p { font-size: 18px; }

#footer .footer_2 > div span { color: #999; font-size: 18px; }

#footer .footer_2 .ul1 { width: 350px; height: 160px; float: left; overflow: hidden; }

#footer .footer_2 .ul1 li { float: left; padding-right: 45px; text-align: center; }

#footer .footer_2 .ul1 li img { margin-bottom: 10px; }

#footer .footer_2 .ul1 li span { font-size: 14px; color: #999; }

#footer .footer_2 .ul2 { width: 402px; height: 137px; float: left; overflow: hidden; }

#footer .footer_2 .ul2 li { float: left; margin-left: 30px; }

#footer .footer_2 .ul2 li h4 { margin-bottom: 20px; font-size: 16px; margin-top: 10px; }

#footer .footer_2 .ul2 li a { display: block; color: #999; line-height: 30px; font-size: 14px; }

#footer .footer_3 { height: 97px; margin-bottom: 30px; text-align: center; }

#footer .footer_3 .p1 { margin-bottom: 5px; color: #999; font-size: 14px; }

#footer .footer_3 .p2 { margin-bottom: 5px; color: #64a131; font-size: 14px; }

#footer .footer_3 .p3 { height: 47px; }

#footer .footer_3 .p3 img { height: 100%; width: auto; margin: 5px 10px; }

.picShow { width: 1263px; height: 400px; position: relative; overflow: hidden; }

.picShow .showTime { position: absolute; left: 0; top: 0; width: 6315px; }

.picShow .showTime img { display: block; float: left; }

.picShow .page { position: absolute; width: 100%; height: 20px; text-align: center; bottom: 20px; z-index: 10; overflow: hidden; }

.picShow .page li { display: inline-block; width: 18px; height: 18px; border: 1px solid #64a131; border-radius: 50%; margin: 0 8px; background: rgba(100, 161, 49, 0.1); }

.picShow .page .ative { background: #58bc58; }

.show { margin-top: 10px; margin-bottom: 50px; }

.show li { float: left; margin-right: 26px; }

.show li:last-child { margin: 0; }

#main { width: 1290px; }

#main .list { margin-bottom: 50px; }

#main .goods_title { height: 41px; padding-top: 15px; padding-bottom: 10px; border-top: 1px solid #ccc; color: #333; line-height: 42px; }

#main .goods_title .more { display: block; width: 60px; height: 42px; float: right; font-size: 14px; }

#main .goods_title .more:hover { text-decoration: underline; }

#main .goods_list ul li { float: left; width: 248px; height: 305px; margin: 0 5px 5px; position: relative; }

#main .goods_list ul li div { width: 248px; height: 248px; margin-bottom: 5px; overflow: hidden; position: relative; }

#main .goods_list ul li div img { display: block; position: absolute; left: 0; top: 0; width: 100%; height: 100%; }

#main .goods_list ul li .s_name { padding-left: 2px; color: #555; font-size: 14px; line-height: 24px; overflow: hidden; white-space: nowrap; max-width: 210px; }

#main .goods_list ul li .s_price { margin-left: 5px; color: #999; font-size: 14px; line-height: 24px; }

#main .goods_list ul li .a_car { display: block; width: 38px; height: 38px; background: url("img/car_0"); position: absolute; right: 0; bottom: 10px; cursor: pointer; }

#main .goods_list ul li .good_id { display: none; }
